@import '../../../styles/sass/variables';

.cardsBlock {
  padding-bottom: 41px;
  .cardsButtons {
    margin-top: 23px;
    display: flex;
    align-items: center;

    & span {
      margin-right: 22px;
      font-family: $mainFontFamily;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: #a7a9ac;
    }
    .counterPhones {
      margin-left: auto;
    }

    .cardsButton {
      all: unset;
      cursor: pointer;
      margin-right: 21px;

      font-family: $mainFontFamily;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: $mainText;
      transition: .1s linear;
      &:hover {

        color: #0093d8;
      }
    }
  }
}
.containerCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cardItem {
  margin: 20px;
  border: 1px solid  #a7a9ac;
}

.paginationContainer {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;

  .paginationButton {
    width: 210px;

    background-color: #0093d8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    font-family: $mainFontFamily;
    margin-left: auto;
    cursor: pointer;
    margin-right: 10px;
    transition: .2s linear;
    
    &:hover {
      background-color: #15739f;
    }
    }
  .paginationCounter {
    font-family: 'Montserrat Variable', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #58595B;
  }
}