@import '../../../styles/sass/variables';

.navBlock {
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  padding: 10px 15px;
  margin-bottom: 30px;

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navButtonCategory {
      display: flex;
      align-items: center;
      border: 1px solid $mainText;
      background-color: #fff;
      color: $mainText;
      font-family: $mainFontFamily;
      padding: 8px 20px;
      .navButtonIcon {
        padding-right: 8px;
      }
    }
    .navPhoneNumber {
      display: flex;
      align-items: center;

      & img {
        margin-right: 10px;
      }
      & a {
        font-family: $secondFontFamily;
        font-size: $mainFontSize;
        font-weight: 400;
        color: #38b951;
        text-decoration: none;
      }
    }
    .navService {
      & a {
        font-family: $secondFontFamily;
        font-size: $mainFontSize;
        font-weight: 500;
        color: #0093d8;
        text-decoration: none;
      }
    }
    .navServiceIcon {
      margin-right: 20px;
    }
    .navBasketIcon {
      margin-right: 10px;
    }
    .navAccount {
      display: flex;
      align-items: center;

      & img {
        margin-right: 6px;
      }
      & a {
        font-family: $mainFontFamily;
        font-size: 12px;
        font-weight: 700;
        color: $mainText;
        text-decoration: none;
      }
    }
  }

  @media (max-width: 1100px) {
    .navContainer {
      justify-content: center;
    }
    .navServiceIcon {
      margin-right: 10px;
    }
  }

  @media (max-width: 750px) {
    .navContainer {
      flex-direction: column;
      align-items: flex-start;
    }
    .navPhoneNumber,
    .navService,
    .navServiceIcon,
    .navBasketIcon,
    .navAccount {
      margin-top: 10px;
    }
  }

  @media (max-width: 390px) {
    .navContainer {
      .navButtonCategory,
      .navPhoneNumber,
      .navService,
      .navServiceIcon,
      .navBasketIcon,
      .navAccount {
        margin-right: 0;
        margin-top: 10px;
      }
      .navButtonCategory {
        padding: 8px 10px;
        .navButtonIcon {
          padding-right: 5px;
        }
      }
      .navPhoneNumber {
        flex-direction: column;
        align-items: flex-start;
        & img {
          margin-right: 0;
          margin-bottom: 5px;
        }
        & a {
          font-size: 14px;
        }
      }
      .navServiceIcon {
        margin-right: 0;
      }
      .navAccount {
        & img {
          margin-right: 4px;
        }
        & a {
          font-size: 10px;
        }
      }
    }
  }
}
