@import '../../../styles/sass/variables';

.searchContainer {
  position: relative;
  width: 636px;
  .searchInput {
    padding-left: 48px;

    width: 100%;
    font-family: $mainFontFamily;
    font-size: $mainFontSize;
    line-height: 39px;
    color: #fff;
    background-color: #9dc5d9;
    border: none;
    outline: none;


    &::placeholder {
      color: #fff;

    }
    &:focus {
      border: none;
    }
  }
  .searchIcon {
    padding-left: 16px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);

  }
}
.searchInputError {
  margin-top: -13px;
  position: absolute;
  width: 100%;
  font-family: $mainFontFamily;
  font-size: $mainFontSize;
  color: #eb6f6f;
}